.main {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(196, 196, 196, 0)), to(rgba(57, 66, 99, 0.12)));
  background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(57, 66, 99, 0.12) 100%);
  padding: 50px 0 110px;
}

.main_container {
  margin: auto;
  max-width: 1200px;
  padding: 0 10px;
}

.main_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main_top_title {
  font-weight: 600;
  font-size: 60px;
  line-height: 72px;
  color: #394263;
}

.main_top_text {
  color: #FFB078;
}

.main_bottom_title {
  font-weight: 300;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.main_bottom_color {
  background: #FFB078;
}

.main_bottom_text {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.whatme {
  padding: 110px 0;
  background: url(../img/about/back.svg);
  background-size: cover;
  background-position: center;
}

.whatme_container {
  max-width: 1200px;
  margin: auto;
  padding: 0 10px;
}

.whatme_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.whatme_top_text {
  font-weight: 300;
  font-size: 25px;
  line-height: 30px;
  max-width: 600px;
  color: #000000;
}

.whatme_item {
  margin-bottom: 70px;
}

.whatme_item_title {
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 35px;
}

.whatme_item_orange {
  background: #FFB078;
}

.whatme_item_pink {
  background: #9799CE;
}

.whatme_item_text {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.director {
  padding: 50px 0;
  background: rgba(57, 66, 99, 0.05);
}

.director_container {
  max-width: 1200px;
  margin: auto;
  padding: 0 10px;
}

.director_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.director_photo {
  margin-right: 30px;
}

.director_texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.director_say {
  font-weight: 300;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  margin: 0;
}

.director_name {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  margin: 0;
}

.director_text {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin: 0;
}

@media (max-width: 850px) {
  .main_top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main_top_title {
    text-align: center;
    font-size: 45px;
    line-height: inherit;
  }
  .whatme {
    padding: 30px 0 !important;
  }
  .whatme_top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .whatme_top_right_photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .director_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .director_say, .director_text, .director_name {
    text-align: center;
  }
  .director_say {
    margin: 20px 0;
  }
}
