.footer {
  background: #394263;
  padding: 30px 0 10px;
}

.footer_container {
  max-width: 1200px;
  margin: auto;
  padding: 0 10px;
}

.footer_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer_left_logo {
  height: 35px;
  margin-right: auto;
  margin-bottom: 10px;
}

.footer_left_text {
  font-weight: 250;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_right_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer_right_title {
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.footer_right_link {
  margin-bottom: 5px;
  font-weight: 250;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  text-decoration: none;
}

.footer_social_link {
  text-decoration: none;
  margin-right: 10px;
}

.footer_social_link_img {
  height: 25px;
}

.footer_link_text, .footer_link_a {
  font-weight: 250;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}

.footer_link_a {
  text-decoration: none;
}

.footer_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
}

.footer_bottom_img {
  height: 30px;
}

.footer_bottom_text {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #8F91D0;
}
