.header
  //background: #394263
  background: linear-gradient(to right, #F2F2F2 10%, #394263 30%)
  &_container
    max-width: 1200px
    margin: auto
  &_wrapper
    display: flex
    align-items: center
    justify-content: space-between
  &_logo
    background: #F2F2F2
    &_img
      height: 80px
  &_menu
    flex: 1 1 auto
    justify-content: space-between
    display: flex
    padding: 0 40px 0 40px
    &_link
      font-weight: normal
      font-size: 18px
      line-height: 150%
      color: #FFFFFF
      text-decoration: none
  &_social
    display: flex
    &_link
      display: flex
      margin-left: 10px
      text-decoration: none
