body
  background: url(../img/information/b.svg)
  background-size: cover
  background-position: center
  background-repeat: no-repeat

.information
  &_title
    font-weight: normal
    font-size: 25px
    line-height: 30px
    text-align: center
    color: #000000
    margin: 29px 0 33px
  &_container
    max-width: 1000px
    margin: auto
    padding: 0 10px
  &_content
    display: flex
    flex-wrap: wrap
    justify-content: center
    margin-bottom: 47px
    &_item
      padding: 18px 32px
      background: #FFB078
      text-decoration: none
      border-radius: 10px
      margin-right: 23px
      color: #000
      margin-bottom: 17px
  &_photo
    background-blend-mode: multiply
    background-image: url(../img/information/back.jpg)
    background-position: top
    background-repeat: no-repeat
    background-size: cover

    background-color: rgba(57, 66, 99, 0.75)
    &_wrapper
      padding-top: 49px
      padding-bottom: 25px
    &_container
      margin: auto
      max-width: 1200px
      padding: 0 10px
    &_title
      font-weight: 600
      font-size: calc(18px + 22 * (100vw / 1280))
      margin: 0
      text-align: center
      color: #FFFFFF
    &_content
      &_title
        margin: 25px 0
        font-size: calc(15px + 10 * (100vw / 1280))
        text-align: center
        letter-spacing: 0.8px
        color: #FFFFFF
    &_divs
      display: flex
      justify-content: center
    &_item:not(:last-child)
      margin-right: 80px

    &_item
      display: flex
      flex-direction: column
      align-items: center

      &_circle
        background: #FFB078
        border-radius: 50%
        width: 75px
        height: 75px
        display: flex
        align-items: center
        justify-content: center
        &_icon
          height: 35px
      &_text
        font-weight: normal
        font-size: 23px
        line-height: 28px
        text-align: center
        color: #FFFFFF

.main
  padding: 40px 0
  &_orange
    background: #FFB078
  &_container
    max-width: 1200px
    margin: auto
    padding: 0 10px
  &_wrapper
    display: flex
    flex-direction: column
    justify-content: center
  &_title
    font-weight: normal
    font-size: calc(18px + 12 * (100vw / 1280))
    text-align: center
    color: #000000
  &_text
    font-weight: normal
    font-size: calc(15px + 3 * (100vw / 1280))
    text-align: center
    color: #000000
    &_center
      font-weight: normal
      font-size: calc(18px + 7 * (100vw / 1280))
      color: #000000
      text-align: center
      margin-top: 50px
    &_price
      font-weight: normal
      font-size: calc(22px + 23 * (100vw / 1280))
      text-align: center
      color: #000000
      background: #FFB078
      padding: 15px 30px
      margin: 0 auto
      &_decr
        font-weight: normal
        font-size: calc(18px + 7 * (100vw / 1280))
        text-align: center
        color: #000000
    &_2
      font-weight: 300
      font-size: 18px
      line-height: 22px
      color: #000000
      margin: 50px auto 50px auto
      max-width: 900px
  &_content
    display: flex
    flex-direction: column
    align-items: center
    margin-top: 55px
    &_item
      display: flex
      margin-bottom: 25px
      &_icon
        margin-right: 10px
        &_img
          height: 25px
          padding-top: 3px
      &_info
        display: flex
        flex-direction: column
        &_title
          font-weight: normal
          font-size: calc(18px + 4 * (100vw / 1280))
          color: #000000
          margin: 0
          margin-bottom: 10px
        &_text
          font-weight: 300
          font-size: calc(15px + 3 * (100vw / 1280))
          color: #000000
          max-width: 900px

.tabs
  &_container
    margin: auto
    max-width: 900px
    padding: 0 10px
  &_btns
    display: flex
  &_title
    font-weight: normal
    font-size: 30px
    text-align: center
    color: #000000
  &_text
    font-weight: 250
    font-size: 18px
    text-align: center
    color: #000000
  &_btn-denkart
    width: 50%
    background: #FFB078
    border-radius: 10px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    padding: 10px
    &_title
      font-weight: 600
      font-size: 25px
      color: #FFFFFF
    &_text
      font-weight: normal
      font-size: 15px
      text-align: center
      color: #FFFFFF
      margin-bottom: 20px
    &_btn
      padding: 18px 32px
      background: #FFFFFF
      border-radius: 4px
      border: none
      cursor: pointer
      color: #FFB078
      margin: 0 auto
    &_btn:hover
      background: #FFB078
      color: #fff
  &_btn-sam
    margin-left: 30px
    width: 50%
    background: #766881
    border-radius: 10px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    padding: 10px
    &_title
      font-weight: 600
      font-size: 25px
      color: #fff
    &_text
      font-weight: normal
      font-size: 15px
      text-align: center
      color: #fff
      margin-bottom: 20px
    &_btn
      padding: 18px 32px
      background: #fff
      border-radius: 4px
      border: none
      cursor: pointer
      color: #766881
      margin: 0 auto
    &_btn:hover
      background: #fff
      color: #FFB078
  &_tab
    display: flex
    flex-direction: column
    &_item
      display: flex
      align-items: center
      margin-bottom: 21px
      &_icon
        margin-right: 18px
        height: 30px
      &_title
        font-weight: normal
        font-size: 22px
        color: #000000
        margin: 0
        margin-bottom: 6px
      &_text
        font-weight: 300
        font-size: 16px
        line-height: 19px
        color: #000000
  &_items
    display: flex
    align-items: center
    justify-content: center
    margin-top: 33px

.forward
  background: #766881
  position: relative
  margin: 150px 0 50px
  // background: url(../img/information/back_for.svg)
  // background-position: center
  // background-size: cover
  // background-repeat: no-repeat
  &_container
    max-width: 1200px
    margin: auto
    padding: 0 10px
  &_wrapper
    display: flex
    flex-direction: column
    padding: 50px
  &_form
    display: flex
    flex-direction: column
    align-items: start
    &_input
      padding: 12px 47px 12px 15px
      font-size: 15px
      line-height: 18px
      background: transparent
      border: 1px solid #D1D1D1
      border-radius: 4px
      min-width: 230px
      margin-bottom: 15px
    &_input[placeholder]
      color: #F2F2F2 !important
    &_btn
      background: #FFB078
      border-radius: 4px
      color: #000
      padding: 18px 32px
      border: none
      margin: 0 auto 0 0
  &_title
    font-weight: 600
    font-size: calc(18px + 7 * (100vw / 1280))
    color: #FFFFFF
    margin-bottom: 10px
  &_text
    font-weight: normal
    font-size: 18px
    color: #FFFFFF
    margin-bottom: 10px
  &_alena
    position: absolute
    bottom: -5px
    right: calc(5 * (100vw / 1280))
    &_img
      height: 400px
  &_contact
    margin: 100px 0 0 !important

.swiper
  &_wrapper
    background: #FFFFFF
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25)
    border-radius: 20px
    overflow: hidden
  &_container
    margin: auto
    max-width: 1070px
    padding: 0 10px
  &_slide
    display: flex
    &_photo
      background: url(../img/information/swiper/1.jpg)
      background-size: cover
      background-position: center
      width: 100%
      min-width: 300px

    &_texts
      padding: 30px 20px 30px 15px
    &_title
      font-weight: normal
      font-size: 22px
      line-height: 28px
      color: #000000
      margin-bottom: 30px
    &_text
      font-weight: 300
      font-size: 18px
      line-height: 22px
      color: #000000

.video
  margin: 30px 0
  &_container
    max-width: 1000px
    margin: auto
    padding: 0 10px
  &_wrapper
    background: #fff
    position: relative
    padding-bottom: 56.25%
    padding-top: 30px
    height: 0
    overflow: hidden
  &_wrapper iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

.timetable
  margin: 65px 0
  &_title
    font-weight: normal
    font-size: 25px
    color: #000000
    text-align: center
    margin-bottom: 20px
  &_container
    margin: auto
    max-width: 1200px
    padding: 0 10px
  &_blue span:before
    background: #394263 !important
    border: solid 3px #394263 !important
  &_content
    max-width: 400px
    margin: auto
    &_item
      display: flex
      &_text
        margin: 0
        margin-left: 10px
    &_item span
      display: flex
      flex-direction: column
      align-items: center
      border: none
    &_item span:before
      width: 4px
      height: 4px
      background: #fff
      border: solid 3px #FFB078
      content: ''
      display: block
      width: 10px
      height: 10px
      border-radius: 50%
      background: #FFB078
    &_item:not(:last-child) span:after
      content: ''
      width: 3px
      height: 40px
      background: #FFB078
  &_result
    font-weight: normal
    font-size: 20px
    color: #000000
    text-align: center
    margin-top: 40px

.next
  &_container
    max-width: 1200px
    margin: auto
    padding: 0 10px
  &_title
    font-weight: normal
    font-size: 22px
    text-align: center
    color: #000000
    background: #8F91D0
    margin: 0 auto 0 0
  &_text
    font-weight: normal
    font-size: 18px
    line-height: 22px
    color: #000000

.univers
  &_container
    margin: auto
    max-width: 1200px
    padding: 0 10px
  &_wrapper
    display: flex
    flex-flow: column wrap
    justify-content: space-between
    height: 430px
  &_item:nth-child(1)
    flex-basis: 100%
  &_item:hover
    box-shadow: 0px 0px 10px #394263
    transition: 0.2s
  &_item
    &_1
      background: url(../img/information/university/1.jpg)
    &_2
      background: url(../img/information/university/2.jpg)
    &_3
      background: url(../img/information/university/3.jpg)
    &_4
      background: url(../img/information/university/4.jpg)
    &_5
      background: url(../img/information/university/5.jpg)
  &_item
    height: 180px
    margin: 10px
    padding: 5px
    width: calc(90% / 3)
    border-radius: 20px
    transition: 0.2s
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-end
    background-size: cover
    background-position: center
    &_title
      display: flex
      align-items: center
      margin-bottom: 10px
    &_name
      font-weight: normal
      font-size: 28px
      color: #FFFFFF
      margin: 0
    &_icon
      background: url(../img/information/mark-un.svg)
      width: 30px
      height: 30px
      background-size: cover
      margin-left: 10px

.social
  margin: 100px 0
  &_container
    max-width: 1200px
    margin: auto
    padding: 0 10px
  &_title
    font-weight: 250
    font-size: calc(18px + 12 * (100vw / 1280))
    text-align: center
    color: #000000
    margin-bottom: 20px
  &_content
    display: flex
    justify-content: center
  &_link:not(:last-child)
    margin-right: 30px
  &_link
    text-decoration: none
    &_img
      height: 50px

.questions
  margin-bottom: 50px
  &_title
    font-weight: normal
    font-size: calc(18px + 12 * (100vw / 1280))
    text-align: center
    color: #000000

  &_container
    max-width: 980px
    margin: auto
    padding: 0 10px
  &_item
    position: relative
    background: #FFFFFF
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25)
    border-radius: 20px
    margin-bottom: 20px
    &_sum
      cursor: pointer
      user-select: none
      padding: 25px 110px 25px 25px
      list-style-type: none
      font-weight: normal
      font-size: 18px
      line-height: 22px
      color: #000000
    &_text
      user-select: none
      padding: 0px 110px 25px 25px
      margin: 0
      font-weight: 300
      font-size: 16px
      line-height: 19px
      color: #000000
  &_item:before
    position: absolute
    content: ""
    width: 30px
    height: 30px
    background: url(../img/information/questions/open.svg)
    right: 20px
    top: 20px
  &_item[open]:before
    width: 30px
    height: 30px
    background: url(../img/information/questions/close.svg)

.important
  margin-top: 50px
  &_container
    max-width: 1200px
    margin: auto
    padding: 0 10px
  &_title
    font-weight: normal
    font-size: calc(18px + 12 * (100vw / 1280))
    text-align: center
    color: #000000
  &_text
    font-size: calc(15px + 3 * (100vw / 1280))
  &_content
    display: flex
    align-items: end
    justify-content: space-between
    &_left
      display: flex
      flex-direction: column
      &_item
        display: flex
        align-items: start
        margin-bottom: 10px
        max-width: 700px
        &_icon
          margin-top: 5px
          margin-right: 8px
          min-width: 15px
          height: 14px
          background: #FFB078
          border-radius: 50%

@media (max-width: 915px)
  .swiper
    &_slide
      &_texts
        padding: 0px 20px
      &_photo_img
        height: 250px

@media (max-width: 810px)
  .swiper
    &_slide
      &_photo_img
        height: 200px

@media (max-width: 800px)
  .forward
    margin-top: 50px
    &_form
      align-items: center
      &_btn
        margin: 0 auto
    &_alena
      display: none
    &_title, &_text
      text-align: center

@media (max-width: 798px)
  .important
    &_content
      flex-direction: column
      align-items: center

@media (max-width: 677px)
  .swiper
    &_slide
      flex-direction: column
      &_photo
        height: 200px

@media (max-width: 495px)
  .information
    &_content
      flex-direction: column
      &_item
        text-align: center
        margin-right: 0
    &_photo
      &_item:not(:last-child)
        margin-right: 20px
      &_item
        &_text
          font-size: 18px
  .tabs_btn-sam
    margin-left: 5px

@media (max-width: 740px)
  .univers
    &_wrapper
      height: auto
    &_item
      width: 95%
    &_item:nth-child(1)
      flex-basis: auto
